<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>User Dashboard</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
</style>
</head>
<body>
<h1> Welcome to User Dashboard </h1><br />

{% if task_list %}
	<table border ="1" width="50%">
    <tr>
        <th>Task Name</th>
        <th>Task description</th>
        <th>Start date</th>
        <th>End date</th>
    </tr>
	{% for task in task_list %}
	<tr> 
        <td><a href= "{% url 'Task:detail' slug=task.slug %}">{{ task.name }}</a></td>
        <td>{{ task.description }}</td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.end_date }}</td>
    </tr> 
	{% endfor %}
{% else %}
	<p>No taskss are available.</p>
{% endif %}

<a href="{% url 'Login:logout' %}"> logout </a>
</body>
</html>