<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	margin:100px; padding:100px;
	text-align:center;
}	
fieldset{
    overflow: hidden;
    background-color: #eee;
}
</style>
</head>
<body>
	
	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	<form action="{% url 'Login:login' %}" method="post">
		<div align="center"><fieldset style="width:30%">
			<legend>Login</legend>
		{% csrf_token %}
		username:
		<input type="text" name="username" value="{{ username }}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input type="submit" value="Log In" /><br>
		<a href="{% url 'Registration:register' %}"> Sign up</a>||
		<a href="{% url 'PasswordReset:password_reset' %}"> Forgot password </a>
	</fieldset >
	</div>
	</form>

</body>
</html>

